# Environment variables
.env

# Development and environment
.vscode
.python-version
docs/notebooks/.ipynb_checkpoints/
test/unit/pytest-coverage.xml

# Build
__pycache__
dist/*
build/*
man/*
src/codeplag.egg-info/*

# Deb package created files
debian/.debhelper/*
debian/changelog
debian/codeplag-util.substvars
debian/codeplag-util/
debian/control
debian/deb/
debian/debhelper-build-stamp
debian/files
debian/preinst
debian/copyright

# Substituting
src/codeplag/consts.py

# Translation
locales/**/*.mo
