# Output files
*.log

# Environment variables
.env

# Developmnt environmemt
.vscode
.python-version
docs/notebooks/.ipynb_checkpoints/

# Build
__pycache__
dist/*
build/*
man/*
src/codeplag.egg-info/*

# Deb package created files
debian/.debhelper/*
debian/changelog
debian/codeplag-util.substvars
debian/codeplag-util/
debian/control
debian/deb/
debian/debhelper-build-stamp
debian/files
debian/preinst
debian/copyright

# Substituting
src/codeplag/consts.py
docker/base_ubuntu2204.dockerfile
docker/test_ubuntu2204.dockerfile
docker/ubuntu2204.dockerfile

# Translation
locales/**/*.mo
