# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.ast
*.csv
*.log

# Developmnt environmemt
.vscode

__pycache__
dist/*
build/*
.env
man/*
src/codeplag.egg-info/*
docs/notebooks/.ipynb_checkpoints/

# Deb package created files
debian/.debhelper/*
debian/changelog
debian/codeplag-util.substvars
debian/codeplag-util/
debian/control
debian/deb/
debian/debhelper-build-stamp
debian/files

# Substituting
setup.py
src/codeplag/consts.py
src/webparsers/consts.py
docker/base_ubuntu2004.dockerfile
docker/test_ubuntu2004.dockerfile
docker/ubuntu2004.dockerfile
