<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _("Comparative report") }}</title>
    <style>
        table {
            border-spacing: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #f5f5f5;
            border: 0.1rem solid grey;
            font-size: 1.2rem;
        }

        .table__row:nth-child(even) {
            background-color: #e5e5e5;
        }

        .table__header {
            text-align: left;
            font-weight: bold;
        }

        th {
            padding: 8px;
            border: 0.005rem solid grey;
        }

        td {
            border: 0.03rem dotted #999;
            vertical-align: top;
            word-break: break-all;
        }

        caption {
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <h1 align="center">{{ _("Verification results") }}</h1>
    {% for work_path, same_parts_of_other in data.items() %}
        <div style="border: 0.2rem solid black; padding: 1rem; margin: 0.5rem;">
            <table align="center">
                <caption>{{ _("General information") }}</caption>
                <tr class="table__header">
                    <th>{{ _("The path to the file being checked") }}</th>
                </tr>
                <tr class="table__row">
                    <td>{{ work_path }}</td>
                </tr>
            </table>
            <div align="center">
            <table align="center" style="display: inline-table;">
                <caption>{{ _("Similar parts of the programs") }}</caption>
                <tr class="table__header">
                    <th>{{ _("The name of a similar file") }}</th>
                    <th>{{ _("Part of the file that is being checked") }}</th>
                    <th>{{ _("Part of a similar file") }}</th>
                    <th>{{ _("Similarity") }}, %</th>
                </tr>
                    {% for second_work_path, second_same_parts in same_parts_of_other.items() %}
                        <tr class="table__row">
                        <td rowspan="{{ second_same_parts['cnt_elements'] }}">{{ second_work_path }}</td>
                        {% for i, function in enumerate(second_same_parts["same_parts"]) %}
                            {% if i > 0 %}
                            <tr class="table__row">
                            {% endif %}
                            <td rowspan="{{ len(second_same_parts['same_parts'][function]) }}">{{ function }}</td>
                                {% set j = 0 %}
                                {% for j, second_function in enumerate(second_same_parts["same_parts"][function]) %}
                                    {% if j > 0 %}
                                    <tr class="table__row">
                                    {% endif %}
                                    <td>{{ second_function.name }}</td>
                                    <td>{{ second_function.percent }}</td>
                                    {% if j > 0 %}
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            {% if i > 0 %}
                            </tr>
                            {% endif %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
            </table>
            </div>
        </div>
    {% endfor %}
</body>
</html>
