#!/usr/bin/make -f

DESTDIR           = $(CURDIR)/debian/deb

%:
	dh $@

override_dh_builddeb:
	mkdir -p $(DESTDIR)
	dh_builddeb --destdir=$(DESTDIR)

override_dh_usrlocal:
	echo "Skipping dh_usrlocal ..."

override_dh_auto_test:
	echo "Skipping dh_auto_test ..."

.EXPORT_ALL_VARIABLES:
